version: 2
jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:2.2-alpine
    steps:
      - checkout
      - run: find .
      - run: dotnet restore
      - run: dotnet build
      - run: dotnet test --no-build
      - run: dotnet pack -o nuget-release/ -c Release -p:PackageVersion=1.0.1
      - run: dotnet nuget push PredicateExtensions/out/PredicateExtensionsCore.1.0.1.nupkg -k $NUGET_TOKEN -s https://api.nuget.org/v3/index.json